/*Agregamos los estilos para los errores*/  
  .errores1{
    -webkit-boxshadow: 0 0 1px rgba(0, 0, 0, 0.3);*/
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);*/
    -o-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);*/
    border-radius:1px;
    -webkit-border-radius: 1px;*/
    background: red;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);*/
    color: #fff;
    display: none;
    font-size: 6px;
    margin-top: -40px;
    margin-left: 250px;
    padding: 1px;
    position: absolute;
}

.errores{
    background: #FDD1C5 url(../img/importante.gif) center no-repeat;
	background-position: 15px 50%; /* x-pos y-pos */
	text-align: left;
	border-top: 2px solid #FBAB95;
	border-bottom: 2px solid #FBAB95;
    color:#000000;
    padding: 5px 20px 5px 45px;    
}

.importante {
background: #FDD1C5 url(img/importante.gif) center no-repeat;
background-position: 15px 50%; /* x-pos y-pos */
text-align: left;
padding: 5px 20px 5px 45px;
border-top: 2px solid #FBAB95;
border-bottom: 2px solid #FBAB95;
color:#000000;

}